.DS_Store
.sass-cache
*.map
.idea
*.log
*.iml
junitresults.xml
report/*
screenshots/*.png
*.txt
*.xml
./GCloud_Keys
/GCloud_Keys
*/node_modules
/allure-report
/allure-results
*/package-lock.json
node_modules/*
*.keys
*.key
.vscode/
package-lock.json

/html-reports/
/jsonReports
